@model Garage2_0.Models.ParkedVehicle

@* HD @{*@
    @*ViewBag.Title = "Details";*@
@*}*@

<h2>Details</h2>

<div>
    <!-- HD
    <h4>ParkedVehicle</h4>
    -->
    <hr />
    <dl class="dl-horizontal">

        <!-- HD: Start grouping key/value pairs -->
        <!-- HD: Start changing order of groups -->

        <dt>
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarMake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfWeels)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfWeels)
        </dd>

        <!-- HD: End of changed order of groups -->
        <!-- HD: End of grouping key/value pairs -->

    </dl>
</div>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till översikt", "Index")
</p>
